<div class="admin-pages">
    <h2 style="color:red;">ADMIN DASHBOARD</h2>
</div>

<div class="container">
    <div class="row ">

        <div class="col-md-2 " style="margin:0; padding:0;">
            <div class="admin-menu">
                <div class="admin-button">
                    <a asp-controller="Journal" class=" admin-link">JOURNAL</a>

                </div>
                <div class="admin-button">
                    <a asp-controller="Article" class=" admin-link" >ARTICLES</a>

                </div>
                <div class="admin-button">
                    <a asp-controller="News" class=" admin-link">NEWS</a>

                </div>

                <div class="admin-button">
                    <a asp-controller="Advertisement" class=" admin-link">ADVERTISEMENT</a>

                </div>
                <div class="admin-button">
                    <a asp-controller="Article" class=" admin-link">REPORT</a>

                </div>
                <div class="admin-button">
                    <a asp-controller="Home" class=" admin-link" style="background-color:red; padding:5px; margin-left:22px; padding-right:60px;">LOGOUT</a>

                </div>
      

            </div>
            

        </div>
        <div class="col-md-10">
            
            <div class="row">
                <div class="col-md-6">
                    <div class="dashboard-admin mt-5">
                        <h3 class="mt-5">Journal Section</h3>
                    </div>
                    
                </div>
                <div class="col-md-6">
                    <div class="dashboard-admin mt-5">
                <h3 class="mt-5">Article Section</h3>
            </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="dashboard-admin mt-5">
                <h3 class="mt-5">News Section</h3>
            </div>
                </div>
                <div class="col-md-6">
                    <div class="dashboard-admin mt-5">
                <h3 class="mt-5">Advertisement Section</h3>
            </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-6">
                    <div class="dashboard-admin mt-5">
                        <h3 class="mt-5">Report Section</h3>
                    </div>
                </div>
                <div class="col-md-3">
                </div>
            </div>


        </div>
        
        
    </div>
   



</div>